* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content{
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: white;
    
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;

}

.pagination button{
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #fff;
    
}

/* On screens that are 992px or less*/
@media screen and (min-width: 992px) {
    .content {
        min-width: 922px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}